In [121]:
def tanimoto(a, b):
    if len(a) != len(b):
        return False
    elif not all(p in [0, 1] for p in a):
        return False
    elif not all(p in [0, 1] for p in b):
        return False

    only_a, only_b, both_ab = 0, 0, 0
    for i in range(len(a)):
        if a[i]==1 and b[i]==1:
            both_ab += 1
        elif a[i]==1 and b[i]==0:
            only_a += 1
        elif a[i]==0 and b[i]==1:
            only_b += 1
    
    return both_ab/(only_a + only_b + both_ab)

In [129]:
A = [1, 0, 1, 1, 1, 0]
B = [1, 1, 0, 1, 1, 1]
tanimoto(A, B)

0.5

In [115]:
def tag_dist(a, b, sep=" "):
    a_words = a.split(sep)
    b_words = b.split(sep)
    unique = set(a_words+b_words)
    total = len(unique)

    c = 0    
    for i in unique:
        if i in b_words and i in a_words:
            c += 1
    
    return round(c/total, 1)

In [59]:
import pandas as pd
import numpy as np

In [43]:
links = pd.read_csv('movielens/links.csv')
movies = pd.read_csv('movielens/movies.csv')
ratings = pd.read_csv('movielens/ratings.csv')
tags = pd.read_csv('movielens/tags.csv')

In [68]:
movies.shape

(88, 3)

In [55]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [66]:
movies = movies[movies.movieId<100]

In [116]:
df = pd.DataFrame(columns=movies.movieId)
for i in movies.movieId:
    a = movies.loc[movies.movieId == i]['genres'].item().lower()
    n = {}
    for j in movies.movieId:
        b = movies.loc[movies.movieId == j]['genres'].item().lower()
        #print(a.lower().split('|'))
        n[j] = tag_dist(a, b, '|')
    df = df.append(n, ignore_index=True)

In [113]:
df.shape

(88, 88)

In [117]:
df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,87,88,89,92,93,94,95,96,97,99
0,0.0,0.4,0.8,0.9,0.8,1.0,0.8,0.6,1.0,0.9,...,0.6,0.8,1.0,1.0,0.9,0.9,0.9,0.8,1.0,1.0
1,0.4,0.0,1.0,1.0,1.0,1.0,1.0,0.3,1.0,0.8,...,0.8,1.0,1.0,1.0,1.0,1.0,0.8,1.0,1.0,1.0
2,0.8,1.0,0.0,0.3,0.5,1.0,0.0,1.0,1.0,1.0,...,0.7,0.5,1.0,1.0,0.3,0.3,1.0,0.7,1.0,1.0
3,0.9,1.0,0.3,0.0,0.7,1.0,0.3,1.0,1.0,1.0,...,0.8,0.7,1.0,0.8,0.5,0.0,1.0,0.3,0.8,1.0
4,0.8,1.0,0.5,0.7,0.0,1.0,0.5,1.0,1.0,1.0,...,0.5,0.0,1.0,1.0,0.7,0.7,1.0,0.5,1.0,1.0

In [126]:
df.columns

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 36,
            38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55,
            57, 58, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75,
            76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 92, 93, 94, 95,
            96, 97, 99],
           dtype='int64', name='movieId')

In [ ]:
def multi_tanimoto(a, b, sep=" "):
    a_words = a.split(sep)
    b_words = b.split(sep)
    unique = set(a_words+b_words)

    exact, diff = 0, 0
    for i in unique:
        if i in b_words and i in a_words:
            exact += 1
        else:
            diff += 1
    return exact/exact+diff